.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(17, 40, 175);
  height: 150px;
  padding: 20px;
  color: white;
  font-family: American Typewriter, serif;
}

#spell-btn {
  width: 30%;
  margin-bottom: 10%;
}

#write-btn {
  width: 30%;
  margin-bottom: 10%;
}

#quit-btn {
  width: 30%;
  margin-bottom: 10%;
}

.App {
  font-family: American Typewriter, serif;
}

.art {
  color: rgb(214, 214, 29);
}

.f {
  padding-left: 5%;
}

.u {
  padding-left: 10%;
}

.n {
  padding-left: 15%;
}

#mic {
  color: black;
}

.word {
  margin-top: 5%;
  padding-left: 30%;
}

#back-btn {
  width: 30%;
  margin-left: 30%;
  margin-top: 10%;
}

#record-btn {
  width: 30%;
  margin-left: 30%;
  margin-top: 10%;
}

.spell-it {
  display: grid;
  grid-gap: 3%;
  grid-auto-columns: repeat(3);
  font-family: American Typewriter, serif;
}

.grid-buttons {
  padding-bottom: 50%;
  display: grid;
  grid-auto-columns: repeat(3, 2%);
  grid-gap: 2%;
  padding-left: 30%;
  background-color: rgb(146, 6, 6);
}

h2 {
  color: rgb(17, 40, 175);
}

.App-title {
  font-size: 1.5em;
}

.hat {
  width: 10%;
  height: 70%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}